body {
  background-color: #999999;
}

.title-page {
  padding-right: 20px;
}

#projects {
  margin-top: 20px;
}


.img-thumbnail {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: none;
}

.joel {
  display: block;
  height: 200px;
  padding: 10px;
  background-color: white;
  margin-top: 10%;
  margin-left: 2%;
  float: right
}


h1 {
  text-align: right;
  font-size: 80px;
  margin-top: 10%;
  margin-bottom: 10%;
  font-family: sans-serif;
  font-weight: bold;
  color: white;
}

h6 {
  font-weight: bold;
  text-align: center;
}


body {
  color: white;
}

.panel-body {
  color: #404040;
}

.list-group-item {
  font-weight: bold;
}

.project-row {

}



.media img {
  display: block;
  height: 200px;
  padding: 10px;
  float: right;

}

#top-row {
  background-color: black;
}
