body {
  background-color: #3b3734;
}

.profile-photo {
  display: block;
  height: 300px;
  margin-left: : 50px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 50px;

}

h1 {
  text-align: right;
  font-size: 80px;
  margin-top: 10%;
  margin-bottom: 10%;
  font-family: sans-serif;
  font-weight: bold;
  color: #d6cac1;
}

p {
  color: white;
}
