body {
  background-color: #999999;
}

.profile-photo {
  display: block;
  height: 300px;
  margin-left: : 50px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 50px;
}

.img-thumbnail {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: none;
}

h1 {
  text-align: right;
  font-size: 80px;
  margin-top: 10%;
  margin-bottom: 10%;
  font-family: sans-serif;
  font-weight: bold;
  color: white;
}

h6 {
  font-weight: bold;
  text-align: center;
}


body {
  color: white;
}

.panel-body {
  color: #404040;
}

.list-group-item {
  font-weight: bold;
}
